<div class="row mt-5">
  <div class="col-10 mx-auto d-block">

    <a mat-raised-button color="primary" class="mb-2" (click)="CrearMateria()"><mat-icon>plus_one</mat-icon></a>

    <table class="table table-dark table-striped">

      <thead *ngIf="materias != []">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre de la materia</th>
          <th scope="col">Nombre del profesor</th>
          <th scope="col">Cupos</th>
          <th scope="col">Grupo</th>
          <th scope="col">Horario</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let materia of materias; let i = index">
          <th scope="row">{{i+1}}</th>
          <td>{{materia.nombreMateria | titlecase}}</td>
          <td>{{materia.professorName }}</td>
          <td>{{materia.cupos}}</td>
          <td>{{materia.grupo}}</td>
          <td>{{materia.horario}}</td>

          <td>
            <a mat-raised-button color="accent" class=" ms-2 me-3" (click)="editarMateria(materia)"><mat-icon>open_in_new</mat-icon></a>
            <a mat-raised-button color="warn" (click)="borrarMateria(materia)" ><mat-icon>delete</mat-icon></a>
          </td>
        </tr>
      </tbody>
    </table>
   </div>
</div>

